# Import Libraries

In [4]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.preprocessing import LabelEncoder 
import os
os.chdir('C:/Users/Samue/Documents/Kaggle_Comps/M5_forecasting/data')

# Load Data

In [5]:
calendar = pd.read_csv('calendar.csv')
sales_train_validation = pd.read_csv('sales_train_validation.csv')
sample_submission = pd.read_csv('sample_submission.csv')
sell_prices = pd.read_csv('sell_prices.csv')

# Functions

In [6]:
def melt_data(data):
    """ Turns d_1, d_2, ..., d_1913 columns into rows for each item, store unique combination.
        
    """
    
    data_melt = data.melt(id_vars=["id", "item_id", "dept_id", "cat_id", "store_id", "state_id"], 
                          var_name="Date", 
                          value_name="Target")
    
    return data_melt

In [7]:
def join_calendar(data, calendar):
    """ Joins calendar DataFrame to the 
    """
    calendar = calendar.rename(columns = {"d": "Date"})
    
    # T0-DO: Add additional columns. Removed for Kaggle Notebooks memory reasons.
#     columns = ['Date', 'wday', 'month'] 
#     data_calendar = data.merge(calendar.loc[:, columns], how = 'left', on = 'Date')
    data_calendar = data.merge(calendar, how = 'left', on = 'Date')
    
    return data_calendar

In [8]:
def encode_categorical_variables(data, categorical_columns):
    """
    """
    for col in categorical_columns: 
        le = LabelEncoder()
        data.loc[:, col] = le.fit_transform(data.loc[:, col])
    
    return data

In [9]:
def join_sell_prices(data, sell_prices):
    """ Joins sell_prices DataFrame to the data.
    """    
    data_sell_prices = data.merge(sell_prices, how = 'left', on = ['store_id', 'item_id', 'wm_yr_wk'])
    
    
    return data_sell_prices

# Run Functions

In [10]:
print("Create melted DataFrame.\n")
sales_train_validation_melted = melt_data(sales_train_validation)

# Unit Test for melt function
print("Unit Test: ")
print(sales_train_validation_melted.shape[0])
print(sales_train_validation.shape[0] * sales_train_validation.iloc[1:, 6:].shape[1])
sales_train_validation_melted.shape[0] == sales_train_validation.shape[0] * sales_train_validation.iloc[1:, 6:].shape[1]
del sales_train_validation

print("Create DataFrame with calendar columns.\n")
sales_train_validation_calendar = join_calendar(sales_train_validation_melted, calendar)
del sales_train_validation_melted

print("Create DataFrame with sell price columns.\n")
sales_train_validation_prices = join_sell_prices(sales_train_validation_calendar, sell_prices)
del sales_train_validation_calendar

print("Create DataFrame with encoded variables.\n")
categorical_columns = ['item_id', 'dept_id', 'cat_id', 'store_id', 'state_id']
sales_train_validation_encoded = encode_categorical_variables(sales_train_validation_prices, categorical_columns)

Create melted DataFrame.

Unit Test:
58327370
58327370
Create DataFrame with calendar columns.

Create DataFrame with sell price columns.

Create DataFrame with encoded variables.

# Write Data to CSV

In [11]:
sales_train_validation_encoded.to_csv('sales_train_validation_encoded.csv', index = False)

In [12]:
sales_train_validation_encoded.head()

,id,item_id,dept_id,cat_id,store_id,state_id,Date,Target,date,wm_yr_wk,...,month,year,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,sell_price
0,HOBBIES_1_001_CA_1_validation,1437,3,1,0,0,d_1,0,2011-01-29,11101,...,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN
1,HOBBIES_1_002_CA_1_validation,1438,3,1,0,0,d_1,0,2011-01-29,11101,...,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN
2,HOBBIES_1_003_CA_1_validation,1439,3,1,0,0,d_1,0,2011-01-29,11101,...,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN
3,HOBBIES_1_004_CA_1_validation,1440,3,1,0,0,d_1,0,2011-01-29,11101,...,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN
4,HOBBIES_1_005_CA_1_validation,1441,3,1,0,0,d_1,0,2011-01-29,11101,...,1,2011,NaN,NaN,NaN,NaN,0,0,0,NaN